docs_dir: gadgets
site_name: Robotick칳 t치bor 2022
site_url: https://2022.robotickytabor.cz/
site_description: >-
  Robotick칳 t치bor 2022...

# repo_name: RoboticsBrno/RoboCamp-2022
# repo_url: https://github.com/RoboticsBrno/RoboCamp-2022/
# edit_uri: blob/main/docs/

# Copyright
copyright: Copyright 춸 2022 RoboticsBrno
use_directory_urls: True

theme:
  name: material
  language: cs
  # logo: assets/logo.png
  # favicon: images/favicon.png
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.top

  icon:
    repo: fontawesome/brands/github

  palette:
    - scheme: slate
      primary: green
      accent: green
      toggle:
        icon: material/weather-sunny
        name: P콏epnout na sv캩t칳 re쬴m
    - scheme: default
      primary: green
      accent: green
      toggle:
        icon: material/weather-night
        name: P콏epnout na tmav칳 re쬴m
    

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.keys
  - attr_list
  - pymdownx.tabbed
  - featherlight # https://github.com/it-novum/mkdocs-featherlight
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: "춳"

plugins:
    - search
    - awesome-pages
    - encryptcontent: # https://github.com/coink0in/mkdocs-encryptcontent-plugin/
        # global_password: 'your_password'
        remember_password: True
        title_prefix: '游'
        summary: 'Sem asi nem치코 p콏칤stup...'
        placeholder: 'Sem zadej heslo:'
        decryption_failure_message: 'Jejda, tohle nen칤 ono'
        encryption_info_message: 'Zadej vstupn칤 heslo.'
        # add this line in the top of the MD file
        # ---
        # password: PWD
        # ---


extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/RoboticsBrno
      name: IREE Discord Server
#   analytics:
#     provider: google
#     property: ASD

extra_javascript:
  - assets/featherlight/jquery-latest.js #https://code.jquery.com/jquery-latest.js
  - assets/featherlight/featherlight.min.js # https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js
#   - assets/config.js

extra_css:
  - assets/featherlight/featherlight.min.css #https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css



nav:
    - Dom콢:
        - index.md
    - RoboSvit:
        - roboSvit/README.md
        - roboSvit/manual.md
    - Logick치 hradla:
        - hradla/README.md
        - hradla/manual.md
    - Hrac칤 kostka:
        - electronicDie/README.md
        - electronicDie/manual.md
    - P치jec칤 v칳zva:
        - solderingChallenge/README.md
        - solderingChallenge/manual.md
    - BlackBox:
        - blackBox/README.md
        - blackBox/manual.md
    - Electron:
        - electron/README.md
        - electron/electron-lesson-1.md
        - electron/electron-lesson-2.md
        - electron/electron-lesson-3.md
    - MicroBit: 
        - microbit/README.md
        - 칔koly A:
            - microbit/ukolyA/index.md
            - microbit/ukolyA/zadani1.md